<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">
        <header>
            <div class="logo">E-shop</div>
            <div class="cart">
                <form action="#" class="search-form" @submit.prevent="filter">
                    <input type="text" class="search-field" v-model="userSearch">
                    <button class="btn-search" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <button class="btn-cart" type="button" @click="showCart = !showCart">Корзина</button>
                <div class="cart-block " v-show="showCart">
                    <div class="cart-item" v-for="item of cartItems" :key="item.id_product">
                        <div class="cart-item__box">
                            <img :src="imgCatalog" class="cart-item__img" :alt="item.product_name">
                            <div class="cart-item__desc">
                                <div class="cart-item__title"> {{ item.product_name}} </div>
                                <div class="cart-item__quantity">Quantity: {{ item.quantity }}</div>
                                <div class="cart-item-single__price"> {{ item.price}} $</div>
                            </div>
                        </div>
                        <div class="cart-item__block">
                            <button class="cart-item__remove btn-remove" @click="removeFromCart(item)">&times;</button>
                            <div class="cart-item__price">
                                {{ item.quantity * item.price }} $
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="products">
                <div class="product-item" v-for="product of filtered" :key="product.id_product">
                    <!--  key для быстроты перебора-->
                    <img :src="imgCatalog" alt="img">
                    <div class="desc">
                        <h3> {{product.product_name}} </h3>
                        <p> {{product.price}} </p>
                        <button class="buy-btn" @click="addProduct(product)">Купить</button>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
        integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>